

$footer-height:80px;



html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Sticky Footer:
html, body {
  height: 100%;
  letter-spacing:1px;
}
#root {min-height: 100%;}
#root_footer {overflow:auto;
  padding-bottom: $footer-height;}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear:both;
  } 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
  
}
// End of Sticky Footer
.fullWidth{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  // border:solid thin red;
}


  a:hover{
    color:#000;
  }
  

.logo{
 // width:rem-calc(83.81px);
  vertical-align: top;
  padding:7px 0;
  
}



body{
 list-style:none 
 
}
.root{
  min-height:100%;
}

.clear{
  clear:both;
}

.sticky{
  padding-bottom:40px;
  background:#FFF;
}

 .left-align{
   text-align:left;   
 } 
  
 .right-align{
   text-align:right;
   
 } 
 


#topbar{
  padding-top:1em;
  //border:solid thin red;
  height:100%;
  
}


#header{
  //border:solid thin red;
 // margin-bottom:1rem;
  h1{
    font-size:3em;
    
  }
  
}


#navi{
//width:300px;
float:right;  
}


.navi{
  height:65px;
  
}


.mainnavi{
  line-height:1.3em;
  ul {
    overflow:hidden;
    padding:0;
    margin:0;
        list-style:none;
   
    li{
      display:block;
     // width:100px;
     margin-left:30px;
      //height:65px;
      float:left;

   // margin-right:10px;

      
    a{
      font-weight:normal;
      display:block;
      padding:0.2em 0;  
      color:#000;   
    }
    
    
        a:hover{
     color:#aaaaaa;

    }
    
    
    
   &.active>a{
     color:#aaaaaa;
    }
    
           &:hover{
            color:#aaaaaa;
          }
  
    ul{
      
      font-weight:normal;
      text-transform:none;      
      letter-spacing:0;
      
      li{
          // border-top:1px dotted #666;
        a{
          color:#666;
       
        }
       }
      }

     }
     
       li:first-child{
             margin-left:0px;

      }
     
   }
 }
 
     


.tagnavi{
  //margin-top:50px;
  margin-bottom:1em;
  line-height:1.3em;
  ul {
    padding:0;
    margin:0;
   
    li{
      display:block;
    list-style:none;
   // margin-right:10px;
      
    a{
      display:block;
         color:#000;
      //padding:0.2em 0;     
    }
    
    a:hover{
        color:#aaa !important;

    }
    
    .selected{
      
              color:#aaa !important;

    }
    
    
   &.active>a{
     color:#0f0;
    }
  
    ul{
      
      font-weight:normal;
      text-transform:none;      
      letter-spacing:0;
      
      li{
          // border-top:1px dotted #666;
        a{
          color:#888;
          &:hover{
            color:#f00;
          }
        }
       }
      }
     }
   }
 }





p{
  padding:0;
  margin:0;
}
  
h1,h2,h3,h4,h5,h6{
  margin:0 0 1em 0;
  font-weight:normal;
}

h1{
  margin-bottom:0px;
  
}

#content{
  //margin-top:150px;
 }

.contentelement{
  padding-bottom:1em;
  
          list-style:none;

  
  
  
  
  ul:not(.clearing-thumbs, #blockgrid, .blockgrid,.block-grid ){
  list-style:none;
  padding:0 0 0 .5rem;
  padding:0;
  margin:0;
  
  li:before{ 
   // content:"-";
    //position:relative;
    //left:-0.5rem;
    //margin-left:-0.5rem;
  }
  li{
    //margin-left:1rem;
  }  
}

 
&.textmitbild, &.news{
  
  header{  
  
  }
  
  .text{
margin-bottom:1em  }
  
  section{
    @extend p;
    margin:0 0 1em 0;
    
    
  }
  
  p{
  
  } 
}


&.lead{
  p{
    font-size:1.3em;
    font-weight:normal;
  }
  }
}

.news{
  .date{
    @extend h3;
    //border-bottom:1px dotted #666;
    font-weight:normal;
  }
  .tags {
    margin:0;
    padding:0;
    font-size:12px;
    letter-spacing:1px;
    
    li{
      color:#fff;
      font-weight:normal;
 
       border-radius:3px;
      @extend .secondary;
      @extend  .label;
      
      background-color:#d6d6d6;
      margin:0 0.4em 0.4em 0;
      padding:3px 6px;
      text-transform:uppercase;
      
    }
  }
  .mehr{
    border:none;
      
   .title {
      background-color:#fff;
      border:none;
      a{
      padding:0;
      margin:0;
      }
    }
    
    .active .title{
    
    }
    .content{
      padding:0;
      margin:0;
    }
  }
}





#footer{
  //background-color:#333;
  //padding:75px 0 ;
  //color:#fff;
 // background-image:url("../../img/menschenkette_klein.png");
 // background-repeat:repeat-x;
 // background-size: auto 60px;
 // background-position:center top;

}
.footernavi{
  @include inline-list;  
}





ul.clearing-thumbs{
  margin:0;
  padding:0;
  >li{
   margin:0 0.5em 0.5em 0; 
  }
}


.sub-nav dt.active a, .sub-nav dd.active a {
  border-radius:2px;
}

.dataTables_wrapper{
  padding:10px;
}



.togglehead{@extend p;    
   
    a{
      border:none;
      border-top:1px dotted #999;
     line-height:1.3em; 
      display:block;
   //  cursor:pointer;
    
     }
}

.open .togglehead{
  a {
    border:none;
    border-bottom:1px dotted #999;  
  
  }
}

.togglebody{
  display:none;
}


.arbeit{
      text-align:center;

}


.selected{
  color:#aaa;
  
}



.contain-to-grid .top-bar{
max-width: 90%  
}

.image{
.imagecontainer{
 // height:300px;
 //height:auto;


  .image_wrapper{
    display:block;
    position:relative;
     bottom:0px;
    max-height:100%;
    height:inherit;
    text-align:center;
    padding-right:20px;
    //border:solid thin red;

  }
  
  img{
   position:absolute;
    display: block; 
    max-height:100%;
    max-width:100%;
  //  margin-left:auto;
   // margin-right:auto;
     left:0;
  right:0;
  bottom:0;
  margin:auto;
  }
  
}
}
.title{
  
  
   padding: rem-calc(8 0);
   h1, h2{
     padding:0px;
     margin:0px;
     
   }
  
  
  
}




//Topbbar:
.topbbarwrapper{
  
  
  
}



.block-grid{
  list-style:none !important;
 
}

[class*="block-grid-"] > li {
     clear: none !important;
}
.block-grid{
       clear: none !important;

  
}

.nopadding{
  padding:0 0 0 0 !important;
  
}


// OVERLAY

.trigger:hover{
  //color:inherit;
text-decoration:underline;
  
}


.overlaytitle{
  padding-top:1rem;
 height:3em;; 
 width:100%;
 color:#FFF;
  h1,h2,a{
     color:#FFF;

  }
 
}

.overlaytitle a:hover{
  color:#aaa;
}

.mod-overlay-background {
  background-color:#000;
  width:10px;
  height:10px;
}


.mod-overlay .overlay-outer-wrapper {
  //display: table;
  //height:100%;
  //width: 100%;
  


}

.mod-overlay .overlay-inner-wrapper {

 // display: table-cell;
 // height: 100%;
  //width:20%;
  //padding: 40px 40px;
 // vertical-align: middle;


}


.mod-overlay .overlay-content {
 // height: 450px;
  //width: 500px;
  //height:100%;
//padding:10%;

}

.mod-overlay .overlay-header {
  display:none;
  
  height:100px;
  
 // border-bottom: 1px solid #e2e2e2;
 // overflow: hidden;
 // position: relative;

}

a.close {
 position:relative;
 top:1px;
 font-size:1rem;
 /* color: white;
  float: left;
  font-size: 30px;
  height: 50px;
  line-height: 30px;
  margin: 0;//14px 16px 12px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 100; */
}



.mod-overlay .close:after {
  //content: "✕";
}

.mod-overlay .close:hover {
 // color: #ED0103;
 
}


.closeOverlay{
  position:absolute;
  right:1em;
  background-image:url("../../img/BNR_Web_X2.png");
  background-repeat:none;
  width:32px;
  height:20px;
  display:block;
 background-size: 32px 20px;
 float:right;
 z-index:500;
 // background-position:center top;
}



.overlay-inlay{
     // display: table-cell;

    position: relative;
    vertical-align: middle;

     margin-left: auto;
   margin-right: auto;

}

.mod-overlay .overlay-content .text {
  //padding: 11px 33px;
}




//SWIPER

.swiper-container{
  display:block;
  //color:#fff;
  //background-color:#aaa;
  //text-align:center;
 // border:solid thin red;
  position: relative;
  top: 50%;
 transform: translateY(-50%);
   -webkit-transform: translate(0px, -50%);
       -moz-transition: translate(0px, -50%);
        -ms-transition: translate(0px, -50%);
         -o-transition: translate(0px, -50%);
            transition: translate(0px, -50%);



    }
  
  
  .imagecontainer_wrapper{
  height:inherit; 
   // padding:50px;
  }
  
  
 .swiper-imagecontainer{
   height:100%; 
 // background:#444;
    
    
      margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
   // height:inherit;
    img{
      
    display: block;
    max-height:100%;
    max-width:100%;
  margin-left:auto ;
  margin-right:auto;
   // position:center;
   // width:100%;
   // height:auto;
   // overflow:hidden;
      
    }
    
  }
  
  .swiper-slide{
    display:block;
      width:10px;
     
  }
  
  
  
  
  .slider_wrapper{
    position:relative;
    display:block;
    z-index:1000;
    width:100%;
     padding-bottom:100px;


    }
  
  
  
.red-slide{background:#ca4040;}
.-slide{background:#4390ee;}
.orange-slide{background:#ff8604;}
.green-slide{background:#49a430;}
.pink-slide{background:#973e76;}
.swiper-slide 
.title{font-style:italic;
font-size:42px;
margin-top:80px;
margin-bottom:0;
line-height:45px;
}

.pagination{
  position:absolute;
  z-index:20;
  left:10px;
  //bottom:10px;
  }
  
  
  .news-pagination{
    width:100%;
    text-align: center;
    
  }
  
  
.swiper-pagination-switch{
  display:inline-block;
  width:8px;
  height:8px;
  border-radius:8px;
  background:#aaa;
  margin-right:5px;
  opacity:0.8;
  border:1px solid #fff;
  cursor:pointer;
  }
.swiper-visible-switch{background:#ccc;}
.swiper-active-switch{background:#000;}




.arrow{
  width:50%;
  position:absolute;  
  z-index:50;
  height:100%; //wieso ist das so hoch?
  
  color: white;
  font-size: 30px;
  line-height: 30px;
  margin: 0;//14px 16px 12px;
  //text-align: center;
  text-decoration: none;
  
  a{
    color:white;
    
  }
  
  a:hover{
    color:blue;
  }
  
}

.left{
  left:0px;
  
}

.right{
  right:0px;
  
}



.aligner {
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color:#ff0000;
}


.left-arrow{
  display:block;
  //border:solid thin blue;
  height:100%;
  width:100%;
 // background-image:url("../../img/BNR_PfeilLinks.gif");
      cursor:url("../../img/B&R_Web_Pfeil_links.png"),auto !important;


  background-position: 20px center;
  background-repeat:no-repeat;
}



.left-arrow-small{
  display:block;
  //border:solid thin blue;
  height:100%;
  width:100%;
 // background-image:url("../../img/Arr_klLeft.png");
  background-position: 20px center;
  background-repeat:no-repeat;
  
}


.left-arrow:before {
 // content: "<";
 //display:block;
 //width:50px;

 
}

.right-arrow{
   display:block;
  height:100%;
  width:100%;
right:0px;
 // background-image:url("../../img/BNR_PfeilRechts.gif");

   // background-position: 35px 50%;
  //background-repeat:no-repeat;
  
  
    cursor:url("../../img/B&R_Web_Pfeil_rechts.png"),auto !important;

  
}

.right-arrow:hover{
  
  
}

.right-arrow-small{
   display:block;
  height:100%;
  width:100%;
right:0px;

  //background-image:url("../../img/Arr_klRight.png");
    background-position: 55px 50%;
  background-repeat:no-repeat;
  
}


.right-arrow:before {
  //content: ">";
}






.whitetext{
color:white;  
max-width:515px;
    overflow: scroll !important;

}


.red{
  border:solid thin red;
  
}


.green{
  border:solid thin green;
  
}


.blue{
  border:solid thin blue;
  
}


@media #{$small-up} { 
  
  #navi{
float:left;  
}
  
  .imagecontainer{
  height:200px;
    .auswahl &{
      height:400px;
    }
  }



}

@media #{$medium-up} {
  #navi{
  float:right;  
}
  .imagecontainer{
  height:200px;
    .auswahl &{
      height:300px;
    }
  }

  
}
@media #{$medium-only} { }

@media #{$large-up} {
  .imagecontainer{
height:250px;
    .auswahl &{
      height:400px;
    }
  }
  


}

@media #{$large-only} { }
